/*  font-family: 'Nunito', sans-serif;  */
.container {
    border-radius: 64px;

}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/*Header*/
header {
    /*background: linear-gradient(225deg, #84CC16, #FFF);*/
    background-image: url(../img/BG.png);
    border-radius: 64px;
}
.box1 h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #2F3C33;
}
.box1 {
    align-self: stretch;
}
.box1 h2 span {
    font-family: 'Nunito', sans-serif;
    font-size: 99px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #84CC16;
}
.box1 p {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.24px;
    color: #647067;
}
.headerL a {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #647067;
}
.downloadApp {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #fff;
    background-color: #2F3C33;
    border-radius: 24px;
    }
.hartRatio {
    position: absolute;
    top: 20%;
    left: 55%;
}
.nutrition {
    position: absolute;
    top: 50%;
    left: 62%;
}
.doctor {
    position: absolute;
    top: 55%;
    left: -20%;
}
/*Main*/
main {
    background-color: #2F3C33;
    border-radius: 180px;
    align-items: flex-start;
    overflow: hidden;
}
main p {
    color: #E3E4E3;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}
main h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    color: #fff;
}
.mission {
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-color: #84CC16;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #E3E4E3;
    display: inline-block;
}
.partners1 {
    display: flex;
    flex-direction: row;
}
.partners2 {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
/*statistics*/
.statistics {
    border-radius: 180px;
    background-color: #84CC16;
}
.statistics h3 {
    color: #FFF;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
    padding: 32px;
}
.statistics h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: -2.16px;
    color: #2F3C33;
}
.statistics span {
    color: #84CC16;
}
.statistics p {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
    color: #2F3C33;
}
.box-s {
    text-align: center;
    flex: 1 0 0;
    border-radius: 64px;
    background-color: #fff;
}
/*services*/
.services {
    flex-direction: column;
    gap: 10px;
    border-radius: 180px;
    background-color: #f5f5f5;
}
.navbar2L {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
    color: #2F3C33;
    text-align: center;
}
.navbar2R {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid #647067;
    text-align: center;
}
.servicesM {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px; 
}
.servicesM1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    border-radius: 64px;
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    justify-content: space-evenly;
    text-align: start;
    align-items: center;
    vertical-align: baseline;
    padding: 32px;
    gap: 10px;
}
.servicesM11 {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 0rem;
    }
.servicesM12 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    vertical-align: middle;
}
.servicesM12 h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
    color: #2F3C33;
    align-self: stretch;
}
.servicesM12 p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.2px;
    align-self: stretch;
    color: #647067;
}
.servicesM13 {
    display: flex;
    flex-direction: column;
    width: 24px;
    height: 24px; 
    align-items: end;
}
.imgS1 {
    padding: 24px 25px 24px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #ECFCCB; 
}
.imgS2 {
    padding: 24px 25px 24px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FFE4E7; 
}
.imgS3 {
    padding: 24px 25px 24px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #F5F5F5; 
}
.imgS4 {
    padding: 24px 25px 24px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #EDE9FE; 
}
.servicesButton {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px; 
}
/*features*/
.features {
    background-color: #fff;
}
.features h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #2F3C33;
    text-align: center;
}
.featuresA {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
}
.featuresB {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 180px;
}
.featuresP2 {
    border-radius: 180px;
    background-color: #647067;
}
.featuresT {
    display: flex;
    flex-direction: column;
}
.featuresT1 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid #647067;
    /*margin-bottom: 0;*/
    height: 48px;
    width: auto;
    display: inline-block;
}
.featureT2 {
    width: 388px;
    color: #2F3C33;
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
}
.featureT3 {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: -0.18px;
    color: #2F3C33;
}
.featureT41 {
    display: flex;
    flex-direction: row;
}
.featureT41L h6, .featureT41R h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
    color: #2F3C33;
}
.featureT41L h6 span, .featureT41R h6 span {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.9px;
    color: #F43F5E;
}
.featureT41L p, .featureT41R p {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #647067;
    align-self: stretch;
}
.featureT42T {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.featureT42 h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
    color: #2F3C33;
}
.featureT42 h6 span {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -0.72px;
    color: #647067;
}
.featureT42 p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #647067;
    text-align: left;
}
.featureT42B {
    width: 100%;
    background-color: #F5F5F5;
}
.progress-value {
    text-align: right;
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #84CC16;
}
.featureT431, .featureT432, .featureT433 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/*benefits*/
.benefits {
    background-color: #84CC16;
    border-radius: 180px;
    gap: 10px;
}
.benefitsL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.benefitsL p {
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 18px;
    background-color: #84CC16;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    color: #fff;
    display: grid;
}
.benefits h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    text-align: center;
    color: #fff;
}
.containerBenefits {
    display: flex;
    flex-direction: column;
}
.containerBenefts .col {
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
    background-color: #FFF;
    border-radius: 64px;
}
.containerBenefts h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.72px;
    color: #1E2721;
    align-self: stretch;
}
.containerBenefts p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    align-self: stretch;
}
.benefitsButton {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 32px; 
}
/*latestNews*/
.navbar3L {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.44px;
    color: #2F3C33;
}
.navbar3R {
    justify-content: end;
}
.containerNews {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.news {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 336px;
    padding: 16px 16px 32px 16px;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    background-color: #F5F5F5;
    border-radius: 48px;
}
.newsDate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #647067;
}
.news h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.4px;
    align-self: center;
    text-align: center;
    color: #2F3C33;
}
.newsLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.newsLink a {
    border-radius: 15px;
    border: 1px solid #647067;
    padding: 10px 16px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
    color: #2F3C33;
}
.navbar4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newsPowerBar {
    width: 50%;
    height: 8px;
    padding-right: 0px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #F5F5F5;
}
.progress-valueNews {
    width: 25%;
    height: 8px;
    flex-shrink: 0;
    background-color: #2F3C33; 
}
/*cta*/
.cta {
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: flex-start;
    border-radius: 180px;
    background-color: #D9F99D;
}
.ctaP1 {
    position: absolute;
    left: 50%;
    top: 10%;
}
.ctaT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.ctaButton {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border: 1px solid #2F3C33;
}
.ctaButton a {
    font-family: 'Nunito', sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
    text-align: center;
    color: #2F3C33;
}
.ctaT h2 {
    font-family: 'Nunito', sans-serif; 
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 113.333% */
    letter-spacing: -1.8px;
    align-self: stretch;
    color: #2F3C33;
}
/*Footer*/
footer {
    background-color: #2F3C33;
    border-radius: 180px 180px 0px 0px;
}
.logo-moto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}
.img-footer {
    width: 187.5px;
    height: 61.5px;
}
footer p {
    font-family: 'Nunito', sans-serif; 
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
    align-self: stretch;
    text-align: center;
    color: #E3E4E3;
}
footer h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 99px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #84CC16;
    text-align: center;
}
.footerL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerL a {
    width: 64px;
    height: 64px;
    gap: 10px;
}
.footerR {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerR a {
    width: 64px;
    height: 64px;
    gap: 10px;
}
.footerCenter {
    text-align: center;
}
.footerCenter a {
    font-family: 'Nunito', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.44px;
    text-align: center;
    color: #fff;
    opacity: 0.48;
}
.footerCenter a:hover{
    opacity: 1;
}
.footerBottom ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.footerBottom a {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #fff;
}
.google-apple {
    font-family: 'Nunito', sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.36px;
    color: #fff;
    background-color: #84CC16;
    border-radius: 30px;
    display: flex;
    height: 80px;
    padding: 24px 32px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.point {
    width: 8px;
height: 8px;
border-radius: 3px;
color: #48524B;
vertical-align: baseline;
}